
    GLOBAL
    TYPOGRAPHY
    NAVIGATION

    html{
        height: 100%;
    }
    
    body {
        
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    }
        
    section {
        color: black;
        align-items: center;
        flex-direction: column;
        display: flex;
        justify-content: center;
        height: 100vh;
        width: 100vw;
        text-align: center;
        
    }
    
    #one, #two, #three {
        width: 500px;
    }
    
    
    a {
        text-decoration: none;
        color: gray;
    }
    
    /* section p {
        display: none;
    
    }  */
    
    /*  
    section:hover {
        background-color: black;
        color: antiquewhite;
       
    }
    */
    
    /*  
    a:hover {
        text-decoration: none;
        color: gray;
    }
    */

#parent {
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
   
}

    #left {
        width: 49%;
        height: 100vh;
        display: inline-block;
        margin: 0;
    
    }
    #left:hover {
        background-color: black;
    }

    #right {
        width: 49%;
        height: 100vh;
        display: inline-block;
        background-color: black;
        margin: 0;
    
    }
    #right:hover {
        background-color: white;
      
    }

    section:hover a {
        display: block;
        visibility: visible;
    }

    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        color: black;
    }
    
    
    h1 {
        font-family:'Roboto Slab', serif;
        font-size: 8rem;
        font-display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
      


     }
     
     /* 
     h1 div {
        height: 0;
        width: 0;
        transition: all 1s ease-in-out;
     }
      
     h1:hover {
        color: coral;
        transform: rotate(-360deg);

     }
     */

     h1.letter_position {
        margin-top: 50%;
    }
    #left_letter {
        color: white;

    } 
    #right_letter {
      color: black;  
    } 
    #right_letter:hover {
        /* transform: scale(5%); */
        /* background-color: red; */
        /* color: black; */
    }

